.sample-slider {
  display: flex;
  justify-content: center;
  border-block: 1px solid rgba(255, 255, 255, 0.195);

  .swiper-wrapper {
    height: 2rem;
    padding-block: 2rem;
    transition-timing-function: linear !important;
  }
}
.sample-slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sample-slider img > path {
  fill: white;
  color: white;
}

.front {
  z-index: 10;
  background-color: #0a0a0a;
}

.rotated {
  margin-top: -20px;
  transform: rotateZ(-3deg);
  z-index: -100;
}
