.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/main.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.darker_image {
  filter: brightness(70%);
  opacity: 0.9;
  position: absolute;
  right: 1px;
  top: 20%;
  z-index: 1;
}

@media screen and (min-width: 1536px) {
  .darker_image {
    top: 20%;
    right: 5%;
  }
}
